.s4 {
  padding: 0 4px 0 0;
}
.s8 {
  padding: 0 8px 0 0;
}
.s12 {
  padding: 0 12px 0 0;
}
.s16 {
  padding: 0 16px 0 0;
}
.s20 {
  padding: 0 20px 0 0;
}

.inline {
  display: inline;
}

.top.s4 {
  padding: 4px 0 0;
}
.top.s8 {
  padding: 8px 0 0;
}
.top.s12 {
  padding: 12px 0 0;
}
.top.s16 {
  padding: 16px 0 0;
}
.top.s20 {
  padding: 20px 0 0;
}

@media all and (max-width: 1023px) {
  .mobile_s4 {
    padding: 0 4px 0 0;
  }
  .mobile_s8 {
    padding: 0 8px 0 0;
  }
  .mobile_s12 {
    padding: 0 12px 0 0;
  }
  .mobile_s16 {
    padding: 0 16px 0 0;
  }
  .mobile_s20 {
    padding: 0 20px 0 0;
  }

  .top.mobile_s4 {
    padding: 4px 0 0;
  }
  .top.mobile_s8 {
    padding: 8px 0 0;
  }
  .top.mobile_s12 {
    padding: 12px 0 0;
  }
  .top.mobile_s16 {
    padding: 16px 0 0;
  }
  .top.mobile_s20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1024px) and (max-width: 1539px) {
  .tablet_s4 {
    padding: 0 4px 0 0;
  }
  .tablet_s8 {
    padding: 0 8px 0 0;
  }
  .tablet_s12 {
    padding: 0 12px 0 0;
  }
  .tablet_s16 {
    padding: 0 16px 0 0;
  }
  .tablet_s20 {
    padding: 0 20px 0 0;
  }

  .top.tablet_s4 {
    padding: 4px 0 0;
  }
  .top.tablet_s8 {
    padding: 8px 0 0;
  }
  .top.tablet_s12 {
    padding: 12px 0 0;
  }
  .top.tablet_s16 {
    padding: 16px 0 0;
  }
  .top.tablet_s20 {
    padding: 20px 0 0;
  }
}

@media all and (min-width: 1540px) {
  .desktop_s4 {
    padding: 0 4px 0 0;
  }
  .desktop_s8 {
    padding: 0 8px 0 0;
  }
  .desktop_s12 {
    padding: 0 12px 0 0;
  }
  .desktop_s16 {
    padding: 0 16px 0 0;
  }
  .desktop_s20 {
    padding: 0 20px 0 0;
  }

  .top.desktop_s4 {
    padding: 4px 0 0;
  }
  .top.desktop_s8 {
    padding: 8px 0 0;
  }
  .top.desktop_s12 {
    padding: 12px 0 0;
  }
  .top.desktop_s16 {
    padding: 16px 0 0;
  }
  .top.desktop_s20 {
    padding: 20px 0 0;
  }
}
